name: Deploy to Byethost
on:
  push:
    branches: [ "main" ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Upload to Byethost with FTP
      uses: SamKirkland/FTP-Deploy-Action@v4.3.4
      with:
        server: ${{ secrets.FTP }} 
        username: ${{ secrets.USER }} 
        password: ${{ secrets.PASS }} 
        local-dir: ./        		
        server-dir: /htdocs/  	
